<% if issue.departments.any? %>
  <div class="wiki">
    <ul>
      <table style="width: 100%; border: 0; margin-bottom: 0;">
        <% issue.departments.each do |department| %>
          <tr>
            <td style="border: 0; padding: 0;">
              <li>
                <%= link_to(department.name, department, :id => department) %>
              </li>
            </td>
            <% if authorize_for('departments', 'removeissue') %>
              <td style="border: 0; padding: 0;">
                <%= delete_link issue_remove_department_path(issue, department), :remote => true %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </ul>
  </div>
<% else %>
  <div class="wiki">
    <ul>
      <li><em><%= l(:label_none) %></em></li>
    </ul>
  </div>
<% end %>
